{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Accueil
{% endblock %}

{% block contenu %}

	<br>
	{% if session.login is defined %}
		<nav class="" aria-label="...">
			<ul class="pagination pagination-lg">
				<li class="page-item" aria-current="page">
					<a class="page-link" href="?page=accueil&item=pageMetier">Page métier</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="?page=accueil&item=random">random</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">test</a>
				</li>
			</ul>
		</nav>
	{% endif %}


	{% if form.item == "pageMetier" %}
		{% if session.role == "rh" %}
		<div>
			<h1>hello</h1>
		</div>
		{% endif %}
		
		
	{% elseif form.item == "random" %}
		<div>
			<h1>gfreger</h1>
		</div>
	{% endif %}

{% endblock %}
