{% extends "base.html.twig" %}

{% block title %}
	{{ parent() }}
	Connexion
{% endblock %}

{% block contenu %}
	<div class="container">
		<form>

			<h1>Me connecter</h1>
			<div class="form-group">
				<label for="exampleInputEmail1">Adresse mail</label>
				<input type="email" class="form-control" id="mailConnexion" aria-describedby="emailHelp" placeholder="eric.zemmour@gmail.com">
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Mot de passe</label>
				<input type="password" class="form-control" id="mdpConnexion" placeholder="*************">
			</div>
            <div class="form-group">
			    <button type="submit" class="btn btn-primary">Connexion</button>
            </div>
		</form>
	</div>
{% endblock %}
