<html>
    <head>
        <link href="/simpleduc/public/css/ficheDePaie.css" rel="stylesheet">
    </head>

    <body>
    <div id="header">
        <div id="intro">
            <div id="infoBulletin">
                <h1>BULLETIN DE PAIE</h1>
                <p>Période du jj/mm/aaaa au jj/mm/aaaa</p>
                <p>Référence bulletin</p>
            </div>

            <div id="infoEmploye">
                <p>N° Sécurité sociale</p>
                <p>Catégorie</p>
                <p>Emploi</p>
                <p>Date ancienneté</p>
                <p>Début contrat</p>
                <p>Forfait jour</p>
            </div>
        </div>

        <div id="infoEntreprise">
            <h1>ENTREPRISE</h1>

            <p>Adresse</p>
            <p>CP Ville</p>
            <p>SIRET</p>
            <p>NAF</p>
        </div>
    </div>
    </body>
</html>