<html>
    <head>
        <link href="/simpleduc/public/css/ficheDePaie.css" rel="stylesheet">
    </head>

    <body>
    <div id="header">
        <div id="intro">
            <div id="infoBulletin">
                <h1>BULLETIN DE PAIE</h1>
                <p>Période du jj/mm/aaaa au jj/mm/aaaa</p>
                <p>Référence bulletin</p>
            </div>

            <div id="infoEmploye">
                <p>N° Sécurité sociale</p>
                <p>Catégorie</p>
                <p>Emploi</p>
                <p>Date ancienneté</p>
                <p>Début contrat</p>
                <p>Forfait jour</p>
            </div>
        </div>

        <div id="infoEntreprise">
            <h1>ENTREPRISE</h1>

            <p>Adresse</p>
            <p>CP Ville</p>
            <p>SIRET</p>
            <p>NAF</p>
        </div>
    </div>

    <div id="content">
        <table id="contentTable">
            <thead>
                <tr>
                    <th rowspan="2">Code</th><th rowspan="2">Libellé de la rubrique</th><th colspan="3">Cotisations salarié</th><th colspan="3">Cotisations employeur</th>
                </tr>
                <tr>
                    <th>Base</th>
                    <th>Taux</th>
                    <th>Montant</th>
                    <th>Base</th>
                    <th>Taux</th>
                    <th>Montant</th>
                </tr>
            <thead>

            <tbody>
                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>

                <tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr><tr>
                    <td>1001</td>
                    <td>Salaire brut</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                    <td>value</td>
                </tr>
                
                <tr>
                    <td><br/></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td><br/></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="5">NET A PAYER AVANT IMPÔT SUR LE REVENU</td>
                    <td colspan="2">VALUE</td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="5">dont évolution de la rémunération liée à la suppression des cotisations chômage et maladie</td>
                    <td colspan="2">VALUE</td>
                </tr>

                <tr>
                    <td><br/></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="1">Impôt sur le revenu</td>
                    <td colspan="2">Base</td>
                    <td colspan="2">Taux personnalisé</td>
                    <td colspan="2">Montant</td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="1">Impôt sur le revenu prélevé à la source</td>
                    <td colspan="2">value</td>
                    <td colspan="2">value%</td>
                    <td colspan="2">value</td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="3">Domiciliation</td>
                    <td colspan="4">NET A PAYER</td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="3">IBAN</td>
                    <td colspan="2">Payé par virement le jj/mm/aaaa</td>
                    <td colspan="2">value</td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="3">BIC</td>
                    <td colspan="2">Allégement de cotisations employeur</td>
                    <td colspan="2">value</td>
                </tr>

                <tr>
                    <td></td>
                    <td colspan="3">Bénéficiaire</td>
                    <td colspan="2">Total versé par l'employeur</td>
                    <td colspan="2">value</td>
                </tr>
            </tbody>
        </table>
    </div>
    </body>
</html>